https://hongjuzzang.github.io/howto/dataframe_to_mysql/

In [2]:
!pip install pymysql
# !pip install sqlalchemy

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [5]:
engine=create_engine("mysql+pymysql://dataitgirls:"+"kartlovers01" \
                     +"@dataitgirls-kart.cbcbbbg7kjlk.ap-northeast-2.rds.amazonaws.com:3306/1017_test")

In [6]:
conn=engine.connect()

# 예시..

In [7]:
%%time
df=pd.read_csv('1014.csv', encoding='cp949')

CPU times: total: 0 ns
Wall time: 29.4 ms

In [8]:
df

                matches                                          matchType
0      01b7000db80ee64c  7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...
1      03a6000bb80eb73d  7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...
2      034a000bb80ea153  7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...
3      022c000db80eb0f3  7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...
4      0061000db80eaf5d  7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...
...                 ...                                                ...
11995  017a000ab80b8260  14e772d195642279cf6c8307125044274db371c1b08fc3...
11996  03e6000ab80b7fc0  14e772d195642279cf6c8307125044274db371c1b08fc3...
11997  0245000ab80b6b6d  14e772d195642279cf6c8307125044274db371c1b08fc3...
11998  02af000ab80b62a3  14e772d195642279cf6c8307125044274db371c1b08fc3...
11999  014d0017b80bea03                                                NaN

[12000 rows x 2 columns]

In [9]:
%%time
df.to_sql(name='test', con=engine, if_exists='append',index=False)

CPU times: total: 125 ms
Wall time: 599 ms

12000