# 1. 라이브러리 구성

In [1]:
import numpy as np
import pandas as pd
import requests
import json
import urllib.request
import warnings
from tqdm import tqdm
from datetime import datetime
import time
from datetime import timedelta
warnings.filterwarnings(action='ignore')

## 1.1 참고 레퍼런스

- https://developers.nexon.com/kart/api/13/35
- https://velog.io/@colacan100/KartriderMetaAnalysisProject-Result
- https://github.com/mschadev/kartrider-open-api-docs

# 2. api key 입력

In [2]:
# 각자의 api key를 복사하여 넣어주세요 (서비스 키)

api_key='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiMjAwMDA6MTAiLCJhY2NvdW50X2lkIjoiMTMwOTMxNjE3NyIsImF1dGhfaWQiOiI0IiwiZXhwIjoxNzI4NTc1NzEwLCJpYXQiOjE2NjU1MDM3MTAsIm5iZiI6MTY2NTUwMzcxMCwic2VydmljZV9pZCI6IjQzMDAxMTM5MyIsInRva2VuX3R5cGUiOiJBY2Nlc3NUb2tlbiJ9.BDOA52xpfZF3J-PPCz5Ska84ZVFLgGFsVLjoWkuGr-4'

api = api_key

# 3. API 호출 함수

## 3.1 모든 매치 리스트 조회
- 시작 시간과 끝시간 입력받아 모든 매치 조회하는 데이터 프레임 생성
- 시작지점과 끝지점 모두 분단위를 짝수로 넣어주세요

In [3]:
def get_matchdata (start, total_end):
    start_for_print = time.time()
    start_date=start
    end_date=datetime.strptime(start_date, '%Y-%m-%d %H:%M:%S')+timedelta(hours=1)
    end_date = datetime.strftime(end_date, '%Y-%m-%d %H:%M:%S')
    limit='200'
    match_df=pd.DataFrame()
    count=0
    # 마지막 start_date가 total_end-1시간까지 돌아가도록 설정
    while start_date != total_end :
        # 10,000건에 한번씩 5초 슬립
        if count!=0 and count%50==0:
            time.sleep(5)
        # offset 0, 200 둘다 돌리도록
        for j in [0, 200]:
            offset=j
            headers = {'Authorization': api}
            _API_URL = f'https://api.nexon.co.kr/kart/v1.0/matches/all?start_date={start_date}&end_date={end_date}&offset={offset}&limit={limit}'
            res = requests.get(_API_URL, headers = headers)
            data=res.json()
            try:
                for i in range(0, len(data['matches'])):
                    tmp=pd.DataFrame(data['matches'][i]['matches'], columns=['matchId'])
                    tmp['matchtype']=data['matches'][i]['matchType']
                    tmp['start']=start_date
                    tmp['end']=end_date
                    match_df=pd.concat([match_df, tmp])
            except:
                pass
        count=count+1
        # offeset 0, 200 한번씩 돌아간 뒤에, 한 시간 뒤에 다시 돌 수 있도록 start와 end 에 1시간씩 더해줌
        new_start=datetime.strptime(start_date, '%Y-%m-%d %H:%M:%S')+timedelta(hours=1)
        start_date = datetime.strftime(new_start, '%Y-%m-%d %H:%M:%S')
        new_end=datetime.strptime(end_date, '%Y-%m-%d %H:%M:%S')+timedelta(hours=1)
        end_date = datetime.strftime(new_end, '%Y-%m-%d %H:%M:%S')
        
    # 중복 제거
    match_df.drop_duplicates(subset='matchId', inplace=True)
    #reset_index 인덱스 초기화
    match_df.reset_index(inplace=True, drop=True)
    # api 돌아간 횟수 print(출력)
    #print(count)
    end_for_print = time.time()
    print(f"소요시간 : {end_for_print - start_for_print:.5f} sec")
    return match_df

In [ ]:
# # 사용예시

# TEST_first_df_match = get_matchdata('2022.10.07 00:00:00', '2022.10.07 23:58:00')

## ~~3.2 특정 매치 상세 정보 조회~~
- 3.1 get_matchdata에서 출력된 match_df를 받아와서   
   df_single_play, df_team_play 데이터를 추출하는 함수입니다.
- 커널 과부화를 막기 위해 3.2 함수를 여러개로 쪼갰습니다.

### 계통 추출법
- https://lovelydiary.tistory.com/410

In [4]:
# # 원본 함수 (api호출 및 싱글/팀 데이터 쪼개는 기능이 합쳐져 있음)
# def get_playerdata(df_match):
    
#     start_for_print = time.time()
    
#     # match_df의 matches(matchId)를 가지고 와서 특정 매치 데이터 조회
#     # match 데이터를 넣어줄 데이터프레임 생성
#     df_match = pd.DataFrame()

#     # api를 돌림
#     for i in tqdm(range(0, len(match_df))):
#         # match_id와 track_id를 각각 받아옴
#         match_id = match_df['matchId'][i]
        
#         api = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiMjAwMDA6MTAiLCJhY2NvdW50X2lkIjoiMTg1NDE1NTQyIiwiYXV0aF9pZCI6IjQiLCJleHAiOjE3Mjg2MTA0NjUsImlhdCI6MTY2NTUzODQ2NSwibmJmIjoxNjY1NTM4NDY1LCJzZXJ2aWNlX2lkIjoiNDMwMDExMzkzIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIn0.g9SxU3q_cdWRWsxNiorjegrsKLfgzDuRvaECr13Lt1E'
#         headers = {'Authorization': api}
#         _API_URL = f'https://api.nexon.co.kr/kart/v1.0/matches/{match_id}'
#         res = requests.get(_API_URL, headers = headers)
#         data=res.json()
#         df_match = df_match.append(data,ignore_index=True)

#     # 개인전과 팀전 분리하여 각각 데이터프레임에 담아줌
#     df_team=df_match[df_match['players'].isnull()]
#     df_single=df_match[~df_match['players'].isnull()]
    
#     # df_single
#     # 개인전 유저(플레이어) 데이터를 넣어줄 데이터 프레임 생성
#     df_single_play = pd.DataFrame()
#     for i in tqdm(range(len(df_single))):
#         tmp=pd.DataFrame()
        
#         for j in range(len(df_single.iloc[i]['players'])):
#             tmp = tmp.append(df_single.iloc[i]['players'][j],ignore_index=True)
            
#         # match_id,  track_id, match_start_time, match_end_time 각각 받아옴
#         tmp['matchId']          = df_single.iloc[i]['matchId']
#         tmp['trackId']          = df_single.iloc[i]['trackId']
#         tmp['match_start_time'] = df_single.iloc[i]['startTime']
#         tmp['match_end_time']   = df_single.iloc[i]['endTime']        
#         df_single_play=pd.concat([df_single_play, tmp])
        
#     col1=df_single_play.columns[:-4].to_list()
#     col2=df_single_play.columns[-4:].to_list()
#     new_col=col2+col1
#     df_single_play=df_single_play[new_col]
#     df_single_play.reset_index(inplace=True, drop=True)
    
#     # df_team
#     # 팀전 유저(플레이어) 데이터를 넣어줄 데이터 프레임 생성
#     df_team_play=pd.DataFrame()
#     for i in tqdm(range(len(df_team))): # 경기 선택 (매치별)
        
#         tmp=pd.DataFrame()
#         for j in range(len(df_team['teams'].iloc[i])): # 팀 선택
#             teamId=df_team['teams'].iloc[i][j]['teamId']
#             user_tmp=pd.DataFrame()
#             for m in range(len(df_team['teams'].iloc[i][j]['players'])): # 플레이어 선택
#                 user_tmp=user_tmp.append(df_team['teams'].iloc[i][j]['players'][m],ignore_index=True)
#             user_tmp['teamId']=teamId
#             tmp=tmp.append(user_tmp,ignore_index=True)
            
#         # match_id,  track_id, match_start_time, match_end_time 각각 받아옴
#         tmp['matchId']          = df_team.iloc[i]['matchId']
#         tmp['trackId']          = df_team.iloc[i]['trackId']
#         tmp['match_start_time'] = df_team.iloc[i]['startTime']
#         tmp['match_end_time']   = df_team.iloc[i]['endTime'] 
#         df_team_play=df_team_play.append(tmp, ignore_index=True) 

#     col1=df_team_play.columns[:-5].to_list()
#     col2=df_team_play.columns[-5:].to_list()
# #     col3=df_team_play.columns[-1:].to_list()
#     new_col=col2+col1
#     df_team_play=df_team_play[new_col]
#     df_team_play.reset_index(inplace=True, drop=True)
    
#     end_for_print = time.time()
#     print(f"소요시간 : {end_for_print - start_for_print:.5f} sec")
    
#     return df_single_play, df_team_play, df_match

### 3.2.1 특정 매치 상세 정보 조회
- 3.1 get_matchdata에서 출력된 match_df를 받아오는 함수입니다.

In [4]:
# match_df를 받아오는 함수
def get_detail_match_data(match_df):
    
    start_for_print = time.time()
    
    # match_df의 matches(matchId)를 가지고 와서 특정 매치 데이터 조회
    # match 데이터를 넣어줄 데이터프레임 생성
    df_match = pd.DataFrame()

    # api를 돌림
    for i in tqdm(range(0, len(match_df))):
        # match_id와 track_id를 각각 받아옴
        if i%50==0:
            time.sleep(5)
        match_id = match_df['matchId'][i]
        
        api = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiMjAwMDA6MTAiLCJhY2NvdW50X2lkIjoiMTg1NDE1NTQyIiwiYXV0aF9pZCI6IjQiLCJleHAiOjE3Mjg2MTA0NjUsImlhdCI6MTY2NTUzODQ2NSwibmJmIjoxNjY1NTM4NDY1LCJzZXJ2aWNlX2lkIjoiNDMwMDExMzkzIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIn0.g9SxU3q_cdWRWsxNiorjegrsKLfgzDuRvaECr13Lt1E'
        headers = {'Authorization': api}
        _API_URL = f'https://api.nexon.co.kr/kart/v1.0/matches/{match_id}'
        res = requests.get(_API_URL, headers = headers)
        data=res.json()
        df_match = df_match.append(data,ignore_index=True)

    end_for_print = time.time()
    print(f"소요시간 : {end_for_print - start_for_print:.5f} sec")
    
    return df_match

### 3.2.2 특정 매치 - 개인전 데이터 정보 조회
- 3.2.1의 특정 매치 상세 정보에서 개인전 데이터만 받아오는 함수입니다.

In [5]:
# 실험
def get_single_play_data(df_match):
    
    start_for_print = time.time()

    # 개인전과 팀전 분리하여 개인전 데이터프레임에 담아줌
    df_single=df_match[~df_match['players'].isnull()]
    
    # df_single
    # 개인전 유저(플레이어) 데이터를 넣어줄 데이터 프레임 생성
    df_single_play = pd.DataFrame()
    for i in tqdm(range(len(df_single))):
        tmp=pd.DataFrame()
        
        for j in range(len(df_single.iloc[i]['players'])):
            tmp = tmp.append(df_single.iloc[i]['players'][j],ignore_index=True)
            
        # match_id,  track_id, match_start_time, match_end_time 각각 받아옴
        tmp['matchId']          = df_single.iloc[i]['matchId']
        tmp['trackId']          = df_single.iloc[i]['trackId']
        tmp['match_start_time'] = df_single.iloc[i]['startTime']
        tmp['match_end_time']   = df_single.iloc[i]['endTime']        
        df_single_play=pd.concat([df_single_play, tmp])
        
    col1=df_single_play.columns[:-4].to_list()
    col2=df_single_play.columns[-4:].to_list()
    new_col=col2+col1
    df_single_play=df_single_play[new_col]
    df_single_play.reset_index(inplace=True, drop=True)
    
    end_for_print = time.time()
    print(f"소요시간 : {end_for_print - start_for_print:.5f} sec")
    
    return df_single_play

### 3.2.3 특정 매치 - 팀전 데이터 정보 조회
- 3.2.1에서 팀전 데이터만 받아오는 함수입니다.

In [25]:
# 실험
def get_team_play_data(df_match):
    
    start_for_print = time.time()
    
    # 개인전과 팀전 분리하여 팀전 데이터프레임에 담아줌
    df_team=df_match[df_match['players'].isnull()].reset_index()
    
    # df_team
    # 팀전 유저(플레이어) 데이터를 넣어줄 데이터 프레임 생성
    df_team_play=pd.DataFrame()
    for i in tqdm(range(len(df_team))): # 경기 선택 (매치별)
        
        tmp=pd.DataFrame()
        for j in range(len(df_team['teams'].iloc[i])): # 팀 선택
            teamId=df_team['teams'].iloc[i][j]['teamId']
            user_tmp=pd.DataFrame()
            try:   
                for m in range(len(df_team['teams'].iloc[i][j]['players'])): # 플레이어 선택
                    user_tmp=user_tmp.append(df_team['teams'].iloc[i][j]['players'][m],ignore_index=True)
                user_tmp['teamId']=teamId
                tmp=tmp.append(user_tmp,ignore_index=True)
                
            except:
                pass
            
        # match_id,  track_id, match_start_time, match_end_time 각각 받아옴
        tmp['matchId']          = df_team.iloc[i]['matchId']
        tmp['trackId']          = df_team.iloc[i]['trackId']
        tmp['match_start_time'] = df_team.iloc[i]['startTime']
        tmp['match_end_time']   = df_team.iloc[i]['endTime'] 
        df_team_play=df_team_play.append(tmp, ignore_index=True) 

    col1=df_team_play.columns[:-5].to_list()
    col2=df_team_play.columns[-5:].to_list()
#     col3=df_team_play.columns[-1:].to_list()
    new_col=col2+col1
    df_team_play=df_team_play[new_col]
    df_team_play.reset_index(inplace=True, drop=True)
    
    end_for_print = time.time()
    print(f"소요시간 : {end_for_print - start_for_print:.5f} sec")
    
    return  df_team_play

In [ ]:
# # 사용예시
# TEST_df_single_play, TEST_df_team_play, TEST_df_match = get_playerdata(TEST_first_df_match)

## 3.3 유저 고유 식별자 추출 -> 리스트
- df_single_play, df_team_play 에서 accountNo 받아오기

In [7]:
def get_accountNo(df_single_play, df_team_play):
    
    start_for_print = time.time()
    
    #각 데이터의 accountNo 리스트로 받아온 뒤 합치기
    single_list=list(df_single_play['accountNo'])
    team_list=list(df_team_play['accountNo'])
    single_list.extend(team_list)
    
    # 중복 제거
    user_list=set(single_list)
    user_list=list(user_list)
    
    end_for_print = time.time()
    print(f"{end_for_print - start_for_print:.5f} sec")
    
    #결과 출력
    return user_list

In [10]:
# #사용 예시
# user_list=get_accountNo(TEST_df_single_play, TEST_df_team_play)

0.00100 sec

## 3.4 ~~유저 고유 식별자로 매치 데이터 조회~~

- 현재 에러로 아래 함수는 사용 불가
- 돌리지 마세요!

In [11]:
# def get_user_match (user_list, start, total_end):
    
#     # 1주일 간격으로 400건 (1명 플레이어 당 1주일 최대 400건)
#     start_date=start
#     end_date=datetime.strptime(start_date, '%Y.%m.%d %H:%M:%S')+timedelta(weeks=1)
#     end_date = datetime.strftime(end_date, '%Y.%m.%d %H:%M:%S')
#     limit='200'
#     match_df=pd.DataFrame()
#     count=0
#     player_log=pd.DataFrame()
    
    
#     # 마지막 start_date가 total_end-2분까지 돌아가도록 설정
#     while start_date != total_end :
        
#         # 10,000건에 한번씩 5초 슬립
#         if count%50==0:
#             time.sleep(5)
            
#         # offset 0, 200 둘다 돌리도록
#         for a in [0, 200]:
#             offset=a
            
#             for i in tqdm(user_list):
#                 access_id=i
#                 headers = {'Authorization': api_key}
#                 _API_URL = f'https://api.nexon.co.kr/kart/v1.0/users/{access_id}/matches?start_date={start_date}&end_date={end_date}&offset={offset}&limit={limit}'
#                 res = requests.get(_API_URL, headers = headers)
#                 data=res.json()
#                 match_tmp=pd.DataFrame()
#                 player_tmp=pd.DataFrame()
#                 for j in range(len(data['matches'])):
#                     for k in range(len(data['matches'][j])):
#                         for m in range(len(data['matches'][j]['matches'])):
#                             match_tmp=match_tmp.append(data['matches'][j]['matches'][m],ignore_index=True)
#                             player_tmp=player_tmp.append(data['matches'][j]['matches'][m]['player'],ignore_index=True)
#                             count=count+1
#                   # drop 하는 줄 지우니까 잘 되네용
# #                 match_tmp.drop(['player'], axis=1, inplace=True)
# #                 player_tmp.drop(['accountNo', 'characterName'], axis=1, inplace=True)
#                 player_tmp=player_tmp.add_prefix('player_')
#                 player_log_tmp=pd.concat([match_tmp, player_tmp], axis=1)
#                 player_log_tmp['nickName']=data['nickName']
#                 player_log=pd.concat([player_log, player_log_tmp])

        
#         new_start=datetime.strptime(start_date, '%Y.%m.%d %H:%M:%S')+timedelta(weeks=1)
#         start_date = datetime.strftime(new_start, '%Y.%m.%d %H:%M:%S')
#         new_end=datetime.strptime(end_date, '%Y.%m.%d %H:%M:%S')+timedelta(weeks=1)
#         end_date = datetime.strftime(new_end, '%Y.%m.%d %H:%M:%S')
    
#     #reset_index 인덱스 초기화
#     player_log.reset_index(inplace=True, drop=True)
    
#     # api 돌아간 횟수 print(출력)   
#     #print(count)     
#     return player_log

In [13]:
# #사용 예시
# #두개의 바가 뜨는게 정상
# tmp_list=user_list[:5]
# player_log=get_user_match (tmp_list, '2021.10.03 00:00:00', '2021.10.03 00:02:00')

# 4. JSON 기반 맵 이름 추출

In [9]:
# https://datamod.tistory.com/104

import json

json_file_path="D:\\바탕 화면\\metadata\\track_name.json" # 파일로드 (파일명 : track_name.json )

with open(json_file_path, 'r', encoding = 'utf8') as file:
    map_name_json = json.load(file)
          
print(json.dumps(map_name_json, indent="\t", ensure_ascii=False))

In [10]:
# https://bio-info.tistory.com/113 참고
# 읽어온 JSON 파일 데이터 프레임으로 변경

with open(json_file_path,'r', encoding = 'utf8') as j:
    contents=json.loads(j.read())

map_name_df = pd.DataFrame(contents)
map_name_df.rename(columns = {'id':'trackId','name':'map_name'},inplace=True)
map_name_df

                                               trackId         map_name
0    c93843288b6c038f11328c0e4a4dae0663a94154242059...       빌리지 두개의 관문
1    c5d2203fc4979dab295e07763de827776f4e83c373cc66...  팩토리 핀저의 위험한 적재소
2    bfd558c15104ec3ef0f182893a3c9bd77052ce7675028c...       올림포스 선택의 문
3    e86138a3a04c138f991da883d4052ff3a00624ba9eb29d...   WKC 싱가폴 마리나 서킷
4    bced4f65cf36c22df94c6e26436e37f22b1cf42b5878e2...        어비스 스카이라인
..                                                 ...              ...
339  ee9f7fc6ac66066247bc8de759996057ae42a2a5d2283f...      팩토리 브로디의 심술
340  6f39b6766c8a93b662250c86c038154139b42448d12f0c...  문힐시티 지피의 미완성 빌딩
341  783f08e9fdaa169ec3138eecf72451e9439211d414e200...       월드 그리스의 휴일
342  3b3d58a41efb9b00da3e88874a90b2e97ce0bc43381e7a...     비치 신나는 여름 휴가
343  519461f08096c7cc64734db42d0c5a7f60e9bd49ac2040...      어비스 배틀 콜로세움

[344 rows x 2 columns]

In [ ]:
# # 데이터 프레임저장

# map_name_df.to_csv('D:\\바탕 화면\\카트라이더\\trackId_with_map_name_df.csv', index=False, encoding = 'cp949')

# JSON 기반 매치 타입명 추출

In [11]:
# https://datamod.tistory.com/104

import json

json_file_path="D:\\바탕 화면\\metadata\\gameType.json" # 파일로드 (파일명 : track_name.json )

with open(json_file_path, 'r', encoding = 'utf8') as file:
    matchType_json = json.load(file)
          
# print(json.dumps(matchType_json, indent="\t", ensure_ascii=False))

In [12]:
# https://bio-info.tistory.com/113 참고
# 읽어온 JSON 파일 데이터 프레임으로 변경

with open(json_file_path,'r', encoding = 'utf8') as j:
    contents=json.loads(j.read())

matchType_df = pd.DataFrame(contents)
matchType_df.rename(columns = {'id':'matchType','name':'matchType_name'},inplace=True)
# matchType_df

In [ ]:
# 데이터 프레임저장

matchType_df.to_csv('D:\\바탕 화면\\카트라이더\\matchType_with_matchname_df.csv', index=False, encoding = 'cp949')

# 5. 원하는 기간 데이터 추출하기!
- 함수 전부 작동 시키신 뒤에, 기간 설정 후 아래 코드만 출력하시면 되어요

In [10]:
TEST_first_df_match = get_matchdata('2022-10-04 00:00:00', '2022-10-05 00:00:00')

소요시간 : 6.91156 sec

In [11]:
TEST_first_df_match
#matchType_df

,matchId,matchtype,start,end
0,028c000882d573fa,7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...,2022-10-04 00:00:00,2022-10-04 01:00:00
1,0186000d82d5594e,7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...,2022-10-04 00:00:00,2022-10-04 01:00:00
2,00da000d82d54b25,7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...,2022-10-04 00:00:00,2022-10-04 01:00:00
3,0133000d82d53c60,7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...,2022-10-04 00:00:00,2022-10-04 01:00:00
4,00cd000d82d5372f,7b9f0fd5377c38514dbb78ebe63ac6c3b81009d5a31dd5...,2022-10-04 00:00:00,2022-10-04 01:00:00
...,...,...,...,...
9595,0028001387ba8d9e,effd66758144a29868663aa50e85d3d95c5bc0147d7fdb...,2022-10-04 23:00:00,2022-10-05 00:00:00
9596,0361000187be5ee9,ee2426e23fa56f7a695084e1fc07fe6bb03a0b3b0c71c4...,2022-10-04 23:00:00,2022-10-05 00:00:00
9597,005e000187be101d,ee2426e23fa56f7a695084e1fc07fe6bb03a0b3b0c71c4...,2022-10-04 23:00:00,2022-10-05 00:00:00
9598,0361000187bbdca3,ee2426e23fa56f7a695084e1fc07fe6bb03a0b3b0c71c4...,2022-10-04 23:00:00,2022-10-05 00:00:00
9599,005e000187bb12cc,ee2426e23fa56f7a695084e1fc07fe6bb03a0b3b0c71c4...,2022-10-04 23:00:00,2022-10-05 00:00:00

In [12]:
# TEST_first_df_match에 있는 matchId 기준 매치 상세 정보 조회

TEST_df_match = get_detail_match_data(TEST_first_df_match)

100%|██████████████████████████████████████████████████████████████████████████████| 9600/9600 [38:21<00:00,  4.17it/s]

소요시간 : 2301.25512 sec

In [13]:
# 조회된 매치 상세 정보를 바탕으로 개인전 추출

TEST_df_single_play = get_single_play_data(TEST_df_match)

100%|██████████████████████████████████████████████████████████████████████████████| 6413/6413 [01:46<00:00, 60.36it/s]

소요시간 : 106.27222 sec

In [26]:
# 조회된 매치 상세 정보를 바탕으로 팀전 추출

TEST_df_team_play = get_team_play_data(TEST_df_match)

100%|██████████████████████████████████████████████████████████████████████████████| 3187/3187 [02:30<00:00, 21.13it/s]

소요시간 : 150.87052 sec

In [28]:
# 추출 시간과 실제 플레이 시간 
TEST_final_df_single_play = pd.merge(TEST_df_single_play, TEST_first_df_match, on = 'matchId', how='left')
TEST_final_df_team_play   = pd.merge(TEST_df_team_play,   TEST_first_df_match, on = 'matchId', how='left')

In [35]:
# 저장하기

TEST_final_df_single_play.to_csv('C:\\Users\\wldbs\\Desktop\\kart\\00-api-data-singleplay-20221004-20221005.csv', index=False, encoding = 'utf-8')
TEST_final_df_team_play.to_csv('C:\\Users\\wldbs\\Desktop\\kart\\00-api-data-teamplay-20221004-20221005.csv', index=False, encoding = 'utf-8')